@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");

body {
  margin: 0 auto;
  background: #eee;
  height: auto;
  width: 80%;
}

html {
  font-family: "Roboto Condensed", sans-serif;
  scroll-behavior: smooth;
}

nav {
    display: flex;
    justify-content: space-between;
}

h2 {
    text-align: center;
}

#container {
  height: 70vh;
  position: relative;
  text-align: center;
  color: white;
}

.enter-img {
    max-height: 1000px;

  }

.enter-btn {
    position: absolute;
    top: 130%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    border-color: white;
    border-radius: 10%;
    border-style: solid;
  }

