@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");

body {
  margin: 0 auto;
  background: #eee;
  height: auto;
  width: 80%;
}

html {
  font-family: "Roboto Condensed", sans-serif;
  scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* NAV */

nav {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 32px;
}

.main-menu {
    display: flex;
    padding-top: 30px;
}

.main-menu li {
    padding: 0 24px;
    font-size: 20px bold;
}

h2 {
    text-align: center;
  }


  /* SHOWCASE */

  .showcase {
    
}



.btn {
    padding: 12px 32px;
    background: #fff;
    color: #000;
    border: 2px solid #000;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    background: #000;
    color: #fff;
    cursor: pointer;
}